@model List<TiendaEntidades.Articulo>

<h1>Compras</h1>

<div class="row">
    @foreach (var articulo in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="/img/102348.png" alt="@Html.DisplayFor( m => articulo.Codigo)">
                  <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor( m => articulo.Codigo)</h5>
                    <p class="card-text">@Html.DisplayFor( m => articulo.Descripcion)</p>
                    <p class="card-text">$ @Html.DisplayFor( m => articulo.Precio)</p>
                    <a asp-action="DescripcionProducto" asp-route-IdArticulo="@articulo.IdArticulo" class="btn btn-primary">Agregar al carrito</a>
                  </div>
                </div>
            </div>
        }
</div>
